<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Games</h4>
                    <p class="category">Add a game you played</p>
                </div>
                <div class="card-content">
                    <form #f="ngForm" (ngSubmit)="addGame()">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Location</label>
                                    <input type="text" class="form-control" name="location" [(ngModel)]="game.location" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Amount Spended</label>
                                    <input type="text" class="form-control" name="amountSpended" [(ngModel)]="game.amountSpended">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Amount earned</label>
                                    <input type="text" class="form-control" name="amountEarned" [(ngModel)]="game.amountEarned">
                                </div>
                            </div>
                        </div>

                        <!-- TODO: game date -->

                        <button type="submit" class="btn btn-danger pull-right" [disabled]="f.invalid">Add Game</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
